@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Dashboard";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row m-0" id="container-1">
<div class="row m-0" id="top-logo-HomePage">
    <img id="topLogoHome" src="https://fap.fpi.edu.vn/images/NewPage/Sidebar/btec.svg" style="max-width: 180px; height: auto;">
</div>


        <span class="welcome-title">
            Welcome back to DashBoard page

        </span>
